<a href="https://colab.research.google.com/github/Gcpppinpak/data_viz_2022/blob/main/Dashboard_project_t.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Covid-19

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/covid19_data'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

##ข้อมูล 12/1/2020 - 11/8/2021

In [11]:
data_file_path1 = os.path.join(path,'confirmed-cases.xlsx')   #ข้อมูล 12/1/2020 - 11/8/2021
data_covid1 = pd.read_excel(data_file_path1)   # อ่านไฟล์ excel

In [20]:
data1 = data_covid1

In [21]:
display(data_covid1.head(5),data_covid1.tail(5))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1.0,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2.0,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3.0,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4.0,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5.0,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
816984,816985.0,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986.0,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987.0,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988.0,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989.0,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

#### หาค่า missing

In [22]:
data_covid1.isnull() #ตรวจสอบว่ามีเซลล์ใดบ้างมีค่า NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,False,False,True,False,False,False,False,False,False,False,True
1,False,False,True,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True
4,False,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
816984,False,False,False,False,False,False,False,False,False,False,False
816985,False,False,False,False,False,False,False,False,False,False,False
816986,False,False,False,False,False,False,False,False,False,False,False
816987,False,False,False,False,False,False,False,False,False,False,False
816988,False,False,False,False,False,False,False,False,False,False,False

In [23]:
data_covid1.isnull().any() #ตรวจสอบว่ามีฟิลด์ใดบ้างที่มีค่าNaN

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [24]:
data_covid1.isnull().sum() #จำนวนค่าNaN ในแต่ละฟิลด์

No.                           0
announce_date                 0
Notified date              2795
sex                       53005
age                       74778
Unit                      74637
nationality               82076
province_of_isolation       272
risk                       1094
province_of_onset         97112
district_of_onset        155300
dtype: int64

In [25]:
data1.index

RangeIndex(start=0, stop=816989, step=1)

In [26]:
data1.columns

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset'],
      dtype='object')

####ลบ column ข้อมูลที่ไม่ได้ใช้

In [27]:
data1.drop(['No.','Notified date','Unit','nationality','province_of_isolation'],axis=1, inplace = True)

In [28]:
data1

,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...
816984,2021-08-11,หญิง,8.0,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,2021-08-11,ชาย,14.0,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,2021-08-11,ชาย,59.0,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,2021-08-11,หญิง,34.0,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,2021-08-11,หญิง,19.0,อื่นๆ,พระนครศรีอยุธยา,อุทัย

##ข้อมูล 12/8/2021 - 25/10/2021

In [12]:
data_file_path2 = os.path.join(path,'confirmed-cases-since-120864.xlsx')   #ข้อมูล 12/8/2021 - 25/10/2021
data_covid2 = pd.read_excel(data_file_path2)   # อ่านไฟล์ excel

##ข้อมูล 26/8/2021 - 27/2/2022

In [13]:
data_file_path3 = os.path.join(path,'confirmed-cases-since-271064.xlsx')    #ข้อมูล 26/8/2021 - 27/2/2022
data_covid3 = pd.read_excel(data_file_path3)   # อ่านไฟล์ excel

##ข้อมูล 28/2/2022 - 22/3/2022

In [14]:
data_file_path4 = os.path.join(path,'confirmed-cases-since-280265.xlsx')    #ข้อมูล 28/2/2022 - 22/3/2022
data_covid4 = pd.read_excel(data_file_path4)   # อ่านไฟล์ excel

# Data ภูมิภาค

#Data หน่วยงานที่เข้าร่วมโครงการ หมอพร้อม